

html,body, #root, .container{
  height:100%;
  margin: 0px;
  padding: 0px;
}


.Folder{
  height:6vw;
  max-height: 110px;
  
}

.folder-label{
  text-align: center;
  margin: 0px;
  font-size: 1rem;

}

#folderGrid{
  padding:30px;
  margin-top: 20px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90vw;
  gap:20px;
  justify-self: start;
  

}


.iconWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.window{
  position:absolute;
  width:50vw;
  max-width: 600px;
  height:40vw;
  min-height: 60vh;
  background:white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  
}

.windowHeader{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  cursor: move;
  

}

.windowContent {
  padding: 15px;
  height: calc(100% - 40px); /* Adjust based on header height */
  overflow-y: auto;
}


.close {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  
  
}

.contactApps{
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 50vw;
  height:100px;
  max-width: 700px;
  background: #f0f0f0;
  opacity: 0.6;
  border-radius: 15px;
  justify-self: center;
  

}

.bottom{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  margin-bottom: 15px;

  

}